# macOS
.DS_Store
.AppleDouble
._*

# Editores
.vscode/*
!.vscode/extensions.json
.idea/

# Node (por si más adelante se agrega herramienta)
node_modules/
npm-debug.log*
.env
.env.local

# Build
dist/
